{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react",
    "@babel/preset-typescript"
  ],
  "plugins": [
    "@babel/proposal-class-properties",
    "@babel/proposal-object-rest-spread"
  ],
  "env": {
    "production": {
      "presets": [
        "@babel/preset-env",
        {
          "target": "> 0.25% not dead"
        }
      ]
    }
  }
}
